/* Global positional adjustments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        margin-bottom: 0;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// Colors
$base-dark: #201f2f;
$base-bg: #e5e5e5;
$accent-gray: #79787e;
$accent-one: #d9d7ea;
$accent-two: #f0f2f0;

// .color1 {color: #559e85;}
// .color2 {color: #c3c292;}
// .color3 {color: #000107;}
// .color4 {color: #747a75;}
// .color5 {color: #f8f8f8;}

// .color1 {color: #1e1406;}
// .color2 {color: #463919;}
// .color3 {color: #2b8ac8;}
// .color4 {color: #c6d2e8;}
// .color5 {color: #f3f3f3;}

// .color1 {color: #d9d7ea;}
// .color2 {color: #f0f2f0;}
// .color3 {color: #201f2f;}
// .color4 {color: #79787e;}
// .color5 {color: #e5e5e5;}


/* This is to keep the footer down */
html,
body {
    width: 100%;
    height: 100%;
    background-color: $base-bg;
    font-family: 'Montserrat', sans-serif;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#content,
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
