/* Global positional adjustments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        margin-bottom: 0;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// Colors
$base-dark: #1e1406;
$base-bg: #f3f3f3;
$accent-gray: #c6d2e8;
$accent-one: #2b8ac8;
$accent-two: #463919;

// .color1 {color: #559e85;}
// .color2 {color: #c3c292;}
// .color3 {color: #000107;}
// .color4 {color: #747a75;}
// .color5 {color: #f8f8f8;}

// .color1 {color: #1e1406;}
// .color2 {color: #463919;}
// .color3 {color: #2b8ac8;}
// .color4 {color: #c6d2e8;}
// .color5 {color: #f3f3f3;}


/* This is to keep the footer down */
html,
body {
    width: 100%;
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#content,
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
