/* Global positional adjustments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



/* This is to keep the footer down */
html,
body {
    width: 100%;
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#content,
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
